@use "../mixins" as *;

.burger-button {
  @include reset-button;
  @include square(44px);

  background-color: inherit;
  border: 1px solid var(--color-light-border-primary);
  border-radius: var(--border-radius-large);
}

.burger-button img {
    position: relative;
    left: 12px;
}
