.button-coffee-cup {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  column-gap: 8px;
  height: 28px;
  font-size: 16px;
  background: transparent;
  border: none;
  color: inherit;

  @include hover {
    &::after {
      width: 85%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition-duration: inherit;
  }
}
