@use "../media" as *;

.app {
  padding-top: 100px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    column-gap: 100px;
    margin: 0 auto;
    width: 100%;
    height: 630px;
    grid-template-areas: "info phones";

    @media (width < 1070px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 342px 630px;
      gap: 100px 0;
      gap: 40px 0;
      height: 1000px;
      grid-template-areas:
        "info"
        "phones";
    }

    @media (width < 550px) {
      height: 768px;
    }
  }

  &__info {
    grid-area: info;
    align-self: center;
  }
  &__phones {
    grid-area: phones;
    max-width: 100%;
    height: 348px;

    img {
      @media (width < 550px) {
        width: 348px;
        height: 348px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    padding-bottom: 40px;

    @media (width < 550px) {
      font-size: 32px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 40px;
  }

  &__buttons {
    display: flex;
    gap: 20px;

    @media (width < 550px) {
      flex-direction: column;
    }
  }

  &__btn {
    justify-content: start;
    padding-left: 20px;
    width: 200px;
    height: 64px;
    font-size: 16px;
    color: var(--color-light-text-primary);
    background-color: var(--color-dark-text-primary);
    border: 1px solid var(--color-light-border-primary);
    gap: 8px;

    @include hover {
      color: var(--color-light-text-inverse);
      background-color: var(--color-light-bg-container);
    }
  }

  &__image {
    padding: 0;
    color: inherit;

    img {
      background-color: inherit;
    }
  }

  &__button-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__available {
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
  }
  &__store {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}
