@use "../utils" as *;

.container {
  @media (width <= 644px) {
    padding-inline: 24px;
  }

  @media (width <= 380px) {
    padding-inline: 16px;
  }

  .hero {
    background-image: url(../../images/img-hero.svg);
    background-color: var(--color-dark-bg-container);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 100%;
    width: var(--container-width);
    height: 644px;
    border-radius: var(--border-radius);
    padding-top: 20px;

    @media (width <= 380px) {
      width: 348px;
      height: 552px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      color: var(--color-dark-text-primary);
      max-width: 530px;
      height: 444px;
      margin-left: 60px;
      margin-top: 80px;

      @media (width <= 644px) {
        max-width: 316px;
        height: 432px;
        margin-left: 30px;
        margin-top: 40px;
      }

      @media (width <= 380px) {
        max-width: 316px;
        height: 432px;
        margin-left: 16px;
        margin-top: 40px;
      }
    }

    &__title {
      font-size: 72px;
      line-height: 105%;

      @media (width <= 644px) {
        font-size: 42px;
        line-height: 115%;
      }

      @media (width <= 380px) {
        font-size: 42px;
        line-height: 115%;
      }
    }

    &__subtitle {
      font-size: 16px;
      line-height: 150%;
    }

    &__btn {
      width: 200px;
      height: 64px;
      font-size: 16px;
      color: var(--color-light-text-primary);
      background-color: var(--color-dark-text-primary);
      border: none;
      gap: 8px;
    }
  }
}