@use "mixins" as *;

body {
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 600;
  line-height: 1.28;
  color: var(--color-light-text-primary);
  background-color: var(--color-bg);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
.h1 {
  @include fluid-text(72, 42);
}

h2,
.h2 {
  @include fluid-text(60, 32);
}

ul {
  list-style: none;
}

.word-accent {
  color: var(--color-dark-text-accent);
  font-size: inherit;
}
