:root {
  --color-light-text-primary: #403f3d;
  --color-light-text-inverse: #e1d4c9;
  --color-light-text-accent: ##b0907a;

  --color-light-bg-page: #e1d4c9;
  --color-light-bg-container: #665f55;
  --color-light-bg-overlay: #403f3d; // 80%

  --color-light-border-primary: #c1b6ad;
  --color-light-border-inverse: #665f55;

  --color-dark-text-primary: #e1d4c9;
  --color-dark-text-inverse: #e1d4c9;
  --color-dark-text-accent: #b0907a;

  --color-dark-bg-page: #292826;
  --color-dark-bg-container: #665f55;
  --color-dark-bg-overlay: #292826; // 80%

  --color-dark-border-primary: #665f55;
  --color-dark-border-inverse: #c1b6ad;

  --color-bg: #b6aea7;

  --font-family-base: "Inter", sans-serif;

  --border-radius: 40px;
  --border-radius-small: 20px;
  --border-radius-large: 100px;

  --container-width: 1360px;
  --container-padding-x: 40px;

  --section-padding-y: 50px;

  --button-height: 64px;

  --transition-duration: 0.2s;
}
