@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
:root {
  --color-light-text-primary: #403f3d;
  --color-light-text-inverse: #e1d4c9;
  --color-light-text-accent: ##b0907a;
  --color-light-bg-page: #e1d4c9;
  --color-light-bg-container: #665f55;
  --color-light-bg-overlay: #403f3d;
  --color-light-border-primary: #c1b6ad;
  --color-light-border-inverse: #665f55;
  --color-dark-text-primary: #e1d4c9;
  --color-dark-text-inverse: #e1d4c9;
  --color-dark-text-accent: #b0907a;
  --color-dark-bg-page: #292826;
  --color-dark-bg-container: #665f55;
  --color-dark-bg-overlay: #292826;
  --color-dark-border-primary: #665f55;
  --color-dark-border-inverse: #c1b6ad;
  --color-bg: #b6aea7;
  --font-family-base: "Inter", sans-serif;
  --border-radius: 40px;
  --border-radius-small: 20px;
  --border-radius-large: 100px;
  --container-width: 1360px;
  --container-padding-x: 40px;
  --section-padding-y: 50px;
  --button-height: 64px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  background-color: var(--color-light-bg-page);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 769px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 18 / 1440 * 100vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 600;
  line-height: 1.28;
  color: var(--color-light-text-primary);
  background-color: var(--color-bg);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: clamp(42px, 72 / 1440 * 100vw, 72px);
}

h2,
.h2 {
  font-size: clamp(32px, 60 / 1440 * 100vw, 60px);
}

ul {
  list-style: none;
}

.word-accent {
  color: var(--color-dark-text-accent);
  font-size: inherit;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  border-radius: var(--border-radius-large);
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 44px;
  aspect-ratio: 1;
  background-color: inherit;
  border: 1px solid var(--color-light-border-primary);
  border-radius: var(--border-radius-large);
}

.burger-button img {
  position: relative;
  left: 12px;
}

.header {
  padding-block: 20px;
  background-color: var(--color-light-bg-page);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  font-size: 16px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1441px) {
  .header__menu-list {
    column-gap: 12px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
@media (max-width: 1441px) {
  .header__block {
    column-gap: 8px;
  }
}
.header__theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-light-border-primary);
  padding: 4px;
  border-radius: var(--border-radius-large);
}
.header__theme-toggle__btn {
  background: inherit;
  border: none;
}
.header__button {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  column-gap: 8px;
  height: 28px;
  font-size: 16px;
  background: transparent;
  border: none;
  color: inherit;
}
@media (hover: hover) {
  .header__button:hover::after {
    width: 85%;
  }
}
@media (hover: none) {
  .header__button:active::after {
    width: 85%;
  }
}
.header__button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}

.mobile-overlay {
  padding: 0;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  border: none;
  background: var(--color-light-bg-page);
}
.mobile-overlay__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 72px;
}
@media (hover: hover) {
  .mobile-overlay__link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .mobile-overlay__link:active::after {
    width: 100%;
  }
}
.mobile-overlay__link::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button {
  position: absolute;
  right: 40px;
  top: 29px;
  padding: 15px;
  border: none;
  background-color: inherit;
}
@media (width < 644px) {
  .mobile-overlay__close-button {
    right: 25px;
  }
}
@media (width < 381px) {
  .mobile-overlay__close-button {
    right: 17px;
  }
}
.mobile-overlay__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  font-size: 32px;
}
.mobile-overlay__button {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  column-gap: 8px;
  padding-top: 40px;
  font-size: 32px;
  background: transparent;
  border: none;
  color: inherit;
}
@media (hover: hover) {
  .mobile-overlay__button:hover::after {
    width: 85%;
  }
}
@media (hover: none) {
  .mobile-overlay__button:active::after {
    width: 85%;
  }
}
.mobile-overlay__button::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 47%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.mobile-overlay__button img {
  width: 40px;
  height: 40px;
}

@media (width <= 644px) {
  .container {
    padding-inline: 24px;
  }
}
@media (width <= 380px) {
  .container {
    padding-inline: 16px;
  }
}
.container .hero {
  background-image: url(../../images/img-hero.svg);
  background-color: var(--color-dark-bg-container);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  width: var(--container-width);
  height: 644px;
  border-radius: var(--border-radius);
  padding-top: 20px;
}
@media (width <= 380px) {
  .container .hero {
    width: 348px;
    height: 552px;
  }
}
.container .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-dark-text-primary);
  max-width: 530px;
  height: 444px;
  margin-left: 60px;
  margin-top: 80px;
}
@media (width <= 644px) {
  .container .hero__content {
    max-width: 316px;
    height: 432px;
    margin-left: 30px;
    margin-top: 40px;
  }
}
@media (width <= 380px) {
  .container .hero__content {
    max-width: 316px;
    height: 432px;
    margin-left: 16px;
    margin-top: 40px;
  }
}
.container .hero__title {
  font-size: 72px;
  line-height: 105%;
}
@media (width <= 644px) {
  .container .hero__title {
    font-size: 42px;
    line-height: 115%;
  }
}
@media (width <= 380px) {
  .container .hero__title {
    font-size: 42px;
    line-height: 115%;
  }
}
.container .hero__subtitle {
  font-size: 16px;
  line-height: 150%;
}
.container .hero__btn {
  width: 200px;
  height: 64px;
  font-size: 16px;
  color: var(--color-light-text-primary);
  background-color: var(--color-dark-text-primary);
  border: none;
  gap: 8px;
}

.slider {
  padding-top: 100px;
}
.slider__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 696px;
}
.slider__title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
@media (width < 550px) {
  .slider__title {
    font-size: 32px;
    line-height: 125%;
  }
}
.slider__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (width < 768px) {
  .slider__wrapper {
    justify-content: center;
  }
}
.slider__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
@media (width < 550px) {
  .slider__card-image {
    width: 348px;
    height: 348px;
  }
}
.slider__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  height: 140px;
}
.slider__info-name {
  font-weight: 600;
  font-size: 24px;
}
.slider__info-desc {
  max-width: 480px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.slider__info-price {
  font-weight: 600;
  font-size: 24px;
}
.slider__arrow {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-light-border-inverse);
  border-radius: 100px;
  background-color: transparent;
}
.slider__arrow img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
@media (width < 768px) {
  .slider__arrow {
    display: none;
  }
}
.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #e3dcd2;
  max-width: 144px;
  height: 4px;
  margin-top: 40px;
}
.slider__bullet {
  position: relative;
  width: 40px;
  height: 4px;
  background-color: var(--color-light-border-primary);
  border-radius: 100px;
  cursor: pointer;
}
.slider__bullet::before {
  content: "";
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
}
.slider__bullet_active {
  background-color: var(--color-light-border-inverse);
}

.about {
  width: 100%;
  max-width: 1440px;
  padding-top: 100px;
}
@media (width < 381px) {
  .about {
    padding-inline: 16px;
  }
}
.about__text {
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  padding-bottom: 40px;
}
@media (width < 600px) {
  .about__text {
    font-size: 40px;
  }
}
@media (width < 381px) {
  .about__text {
    font-size: 32px;
  }
}
.about__gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 438fr 120fr 438fr;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
  height: 1060px;
  grid-template-areas: "girl man" "girl couple" "cups couple";
}
.about__gallery-item {
  border-radius: var(--border-radius-small);
  overflow: hidden;
  background-color: #f5f5f5;
}
.about__gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (width < 769px) {
  .about__gallery-item img {
    width: 688px;
  }
}
.about__gallery .item-girl {
  grid-area: girl;
}
.about__gallery .item-man {
  grid-area: man;
}
.about__gallery .item-cups {
  grid-area: cups;
}
.about__gallery .item-couple {
  grid-area: couple;
}
@media (width < 769px) {
  .about__gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    row-gap: 40px;
    height: 1220px;
  }
}

.app {
  padding-top: 100px;
}
.app__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr;
  column-gap: 100px;
  margin: 0 auto;
  width: 100%;
  height: 630px;
  grid-template-areas: "info phones";
}
@media (width < 1070px) {
  .app__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 342px 630px;
    gap: 100px 0;
    gap: 40px 0;
    height: 1000px;
    grid-template-areas: "info" "phones";
  }
}
@media (width < 550px) {
  .app__grid {
    height: 768px;
  }
}
.app__info {
  grid-area: info;
  align-self: center;
}
.app__phones {
  grid-area: phones;
  max-width: 100%;
  height: 348px;
}
@media (width < 550px) {
  .app__phones img {
    width: 348px;
    height: 348px;
  }
}
.app__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  padding-bottom: 40px;
}
@media (width < 550px) {
  .app__title {
    font-size: 32px;
  }
}
.app__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 40px;
}
.app__buttons {
  display: flex;
  gap: 20px;
}
@media (width < 550px) {
  .app__buttons {
    flex-direction: column;
  }
}
.app__btn {
  justify-content: start;
  padding-left: 20px;
  width: 200px;
  height: 64px;
  font-size: 16px;
  color: var(--color-light-text-primary);
  background-color: var(--color-dark-text-primary);
  border: 1px solid var(--color-light-border-primary);
  gap: 8px;
}
@media (hover: hover) {
  .app__btn:hover {
    color: var(--color-light-text-inverse);
    background-color: var(--color-light-bg-container);
  }
}
@media (hover: none) {
  .app__btn:active {
    color: var(--color-light-text-inverse);
    background-color: var(--color-light-bg-container);
  }
}
.app__image {
  padding: 0;
  color: inherit;
}
.app__image img {
  background-color: inherit;
}
.app__button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app__available {
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
}
.app__store {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.footer {
  padding-top: 100px;
  padding-bottom: 40px;
}
.footer__inner {
  background-color: var(--color-dark-bg-container);
  border-radius: 40px;
  padding: clamp(20px, 20px + 3vw, 100px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr;
  column-gap: clamp(20px, 20px + 3vw, 100px);
  margin: 0 auto;
  width: 100%;
  height: 450px;
  height: clamp(450px, 500px + 8vw, 600px);
  grid-template-areas: "social contacts";
}
@media (width < 769px) {
  .footer__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 186px;
    row-gap: 100px;
    margin: 0 auto;
    padding: clamp(60px, 60px + 4vw, 100px) clamp(16px, 16px + 4vw, 60px);
    width: 100%;
    height: 736px;
    grid-template-areas: "social" "contacts";
  }
}
@media (width < 381px) {
  .footer__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 180px 186px;
    row-gap: 40px;
    margin: 0 auto;
    padding: 60px 16px;
    width: 100%;
    height: 526px;
    grid-template-areas: "social" "contacts";
  }
}
.footer__social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-dark-text-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}
.footer__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: var(--color-dark-text-primary);
}
@media (width < 630px) {
  .footer__title {
    font-size: clamp(32px, 60 / 1440 * 100vw, 60px);
  }
}
@media (width < 381px) {
  .footer__title {
    font-size: 32px;
  }
}
.footer__socials-list {
  display: flex;
  width: 204px;
  height: 60px;
  gap: 12px;
}
.footer__socials-item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--color-light-border-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-border-primary);
}
@media (hover: hover) {
  .footer__socials-item:hover {
    color: var(--color-light-border-inverse);
    background-color: var(--color-light-bg-page);
  }
}
@media (hover: none) {
  .footer__socials-item:active {
    color: var(--color-light-border-inverse);
    background-color: var(--color-light-bg-page);
  }
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 40px;
}
.footer__contacts-item {
  display: flex;
  gap: 8px;
}
.footer__contacts-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

/*# sourceMappingURL=styles.css.map */
